/* Stylesheet for signature that is used in all of my projects.. */

:root { 
	--signatureCol: white; 
	--signatureBg: linear-gradient(45deg, darkblue, transparent); 
} 

#us-signature {
	position: fixed;
	display: flex;
	gap: 10px;
	user-select: none;
	color: var(--signatureCol);
	opacity: 0;
	animation: load 1s ease 0.5s forwards;
	pointer-events: auto;
}

@keyframes load {
	to {
		opacity: 1;
	}
}

#us-signature #tooltip {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3px;
	background: var(--signatureBg);
	border-radius: 50px;
	font-size: 0.9rem;
	font-weight: 700;
	width: 100px;
	height: 40px;
	opacity: 0;
	transition: opacity 0.5s ease;
	line-height: 1;
}

#us-signature a {
	text-decoration: none;
	color: var(--signatureCol);
}

#us-signature a:hover {
	text-decoration: underline;
}

#us-signature #icon {
	padding: 7px;
	width: clamp(24px, 7vmax, 40px);
	height: clamp(24px, 7vmax, 40px); 
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 0 7px var(--signatureCol);
	background: var(--signatureBg);
}
